.h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
}

.h2 {
  font-weight: 400;
  font-size: 58px;
  line-height: 67px;
}

.body1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.body2 {
}

.small-label {
}

.p {
}

.subtitle1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.subtitle2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
